.title {
  text-align: center;
  margin: 15px 0px;
}
.items{
  border: 1px solid black;
}
ul > li {
  list-style-type: none;
}
.todo-list{
    background: #34568B;
    width: 70%;
    margin: 0px auto;
    border-radius: 20px;
}
.todo-list {
  display: flex;
  flex-flow: column;
}
.todo-items {
  max-width: 300px;
  width: fit-content;

  margin: 5px 20%;
  overflow: hidden;
  font: 2.1vw Verdana bolder;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.todo-items:first-child{
    margin-top: 15px;
}
.todo-items:last-child{
    margin-bottom: 15px;
}
.todo-items{
    padding: 5px 15px;
    background: #F7CAC9;
    border-radius: 15px;

}